# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
openapi-bundler
swagger-cli
openapi

# Test binary
*.test

# Output
*.gen.yaml
*.gen.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go
vendor/

